# OS
.DS_Store
Thumbs.db

# Editors/IDEs
.vscode/
.idea/

# Logs
*.log

# Env files (if any)
.env
.env.*

# Node/bundlers
node_modules/
dist/
build/
out/
public/
.tmp/
.cache/
.parcel-cache/
.sass-cache/

# Static hosting/platform folders
.vercel/
.netlify/

# Framework outputs (only if used)
.next/